/*
#dashboard-report-range.btn-fit-height {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    box-shadow: none!important;
    display: block;
    width: 100% !important;
}

#dashboard-report-range.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}

#dashboard-report-range.btn.green:not(.btn-outline):hover,
#dashboard-report-range.btn.green:not(.btn-outline).active.focus,
#dashboard-report-range.btn.green:not(.btn-outline).active:focus,
#dashboard-report-range.btn.green:not(.btn-outline).active:hover,
#dashboard-report-range.btn.green:not(.btn-outline):active.focus,
#dashboard-report-range.btn.green:not(.btn-outline):active:focus,
#dashboard-report-range.btn.green:not(.btn-outline):active:hover {
    color: #FFF !important;
    background-color: #1f858e !important;
    border-color: #18666d !important;
}*/