/* here you can put your own css to customize and override the theme */
/*Companies*/
.page-header.navbar .hor-menu .navbar-nav>li.classic-menu-dropdown.company .dropdown-menu{
  max-width: 500px !important;
  width: 300px !important;
}
.page-header.navbar .hor-menu .navbar-nav>li.classic-menu-dropdown.company .dropdown-menu a, .page-header.navbar .hor-menu .navbar-nav>li.classic-menu-dropdown.company a{
  font-size: 12px;
}
.page-header.navbar .hor-menu .navbar-nav>li .dropdown-menu li>a{
  padding: 6px 10px;
}
.dropdown-menu{
  font-size: 12px;
}
.dropdown-menu>li>a{
  line-height: 14px;
}
.bs-select .help-block{
  top: 30px !important;
}
/*Login*/
.user-login-5 .login-logo {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 140px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle:last-child {
    padding-right: inherit;
}
body{
  font-size: 12px !important;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 400;
}
.text-strong{
  font-weight: 500 !important;
}
.text-super-strong{
  font-weight: 600 !important;
}
.page-sidebar-menu > li.nav-item > a.nav-link > span.badge{
  margin-right: 20px;
  margin-top: 6px;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open + li > a, .page-sidebar .page-sidebar-menu > li.active.open + li > a {
    border-top-color: #c3d3ea;
}
.page-sidebar .page-sidebar-menu li>a>.badge, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.badge {
    top: 4px !important;
    font-weight: normal !important;
}
.page-header.navbar.navbar-fixed-top, .page-header.navbar.navbar-static-top{
  z-index: 995;
}
.caption10{
  font-size: 10px;
  color: #888;
}
.table{
  margin-bottom: 0;
}
.table td, .table th, .table.table-light>tbody>tr>td{
  font-size: 11px !important;
  color: #555;
  font-weight: 200;
}
.table.table-light>thead>tr>th{
  color: #555;
}
.table td .btn-icon-only{
    line-height: 0;
    height: auto;
    width: 20px;
    color: #888;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.table thead th .th-inner,
.table tbody td .th-inner {
    color: #888;
    display: block;
    text-decoration: none;
}

.table thead th .sortable {
    cursor: pointer;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 30px;
}

.table thead th .sorting {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC');
}

.table thead th .sorting_asc {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==');
}

.table thead th .sorting_desc {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ');
}
table.table.table-light td, table.table.table-light th,
table.table.dataTable td, table.table.dataTable th{
  padding: 4px 4px;
}

table.table td.table-select, table.table th.table-select{
  width: 20px;
}
.pagination {
    margin: 0;
}
.portlet{
  box-shadow: none;
}
/*Font 12*/
.nav-pills>li>a, .nav-tabs>li>a,.note p, .page-loading, .panel .panel-body{
  font-size: 12px;
}
.form-group.form-md-line-input .form-control.input-sm{
  font-size: 13px;
}
.form-control{
  height: 30px;
}
.panel-title{
  font-size: 14px;
}
.portlet>.portlet-title>.caption{
  font-size: 16px;
}
/*Tooltip*/
.tooltips + .tooltip > .tooltip-inner {background-color: #888;}
.tooltips + .tooltip > .tooltip-arrow { border-right-color:#888; border-left-color:#888; }

/*Form*/
.portlet>.portlet-title>.actions>.btn, .portlet>.portlet-title>.actions>.btn-group>.btn, .portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm, .portlet>.portlet-title>.actions>.btn.btn-sm,.portlet>.portlet-title>.actions>.btn-group>.btn.btn-default, .portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm.btn-default, .portlet>.portlet-title>.actions>.btn.btn-default, .portlet>.portlet-title>.actions>.btn.btn-sm.btn-default{
  padding: 6px 8px;
  font-size: 11px;
  font-weight: normal;
}
.form-group.form-md-line-input.form-md-floating-label .form-control.input-sm~label{
  top: 22px;
  font-size: 13px;
}
.form-group.form-md-line-input .form-control.input-sm,
.form-group.form-md-line-input.form-md-floating-label .form-control.input-sm~label,
 {
    font-size: 12px;
}
.form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.edited~label, .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.focus:not([readonly])~label, .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.form-control-static~label, .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm:focus:not([readonly])~label, .form-group.form-md-line-input.form-md-floating-label .form-control.input-sm[readonly]~label,
.form-group.form-md-line-input .form-control~label {
    font-size: 11px;
}
.form-group.form-md-line-input .form-control~.form-control-focus:after, .form-group.form-md-line-input .form-control~label:after{
  height: 1px;
}
.form-group.form-md-line-input .help-block, .pagination-sm>li>a, .pagination-sm>li>span{
  font-size: 10px;
}
.form-group.form-md-line-input{
  margin: 0 0 16px;
  padding-top: 14px;
}
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all){
  text-transform: none;
}
.form-group.form-md-line-input .form-control.edited:not([readonly])~.form-control-focus:after, .form-group.form-md-line-input .form-control.edited:not([readonly])~label:after{
  background: inherit;
}
/*Switch*/
.togglebutton, .togglebutton label, .togglebutton input, .togglebutton .toggle {
    user-select: none;
}
.togglebutton {
    vertical-align: middle;
}
.togglebutton label {
    cursor: pointer;
    color: rgba(0,0,0, 0.26);
}
.togglebutton, .togglebutton label, .togglebutton input, .togglebutton .toggle {
    user-select: none;
}
.togglebutton label input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}
.togglebutton, .togglebutton label, .togglebutton input, .togglebutton .toggle {
    user-select: none;
}
.togglebutton label .toggle, .togglebutton label input[type=checkbox][disabled] + .toggle {
    content: "";
    display: inline-block;
    width: 30px;
    height: 15px;
    background-color: rgba(80, 80, 80, 0.7);
    border-radius: 15px;
    margin-right: 15px;
    transition: background 0.3s ease;
    vertical-align: middle;
}
.togglebutton label {
    cursor: pointer;
    color: #888;
    font-size: 12px;
}
.togglebutton, .togglebutton label, .togglebutton input, .togglebutton .toggle {
    user-select: none;
}
.togglebutton label .toggle:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -5px;
    top: -3px;
    border: 1px solid rgba(0,0,0, .54);
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}
.togglebutton label input[type=checkbox]:checked + .toggle {
    background-color: #73b949;
}
.togglebutton label input[type=checkbox]:checked + .toggle:after {
    border-color: #47A247;
}
.togglebutton label input[type=checkbox]:checked + .toggle:after {
    left: 15px;
}

/*Bootstrap Select*/
.form-group.form-md-line-input .bs-select button.dropdown-toggle{
  font-weight: normal !important;
  padding: 0 !important;
  border-radius: 0 !important;
}
.form-group.form-md-line-input .bs-select button.dropdown-toggle:focus,
.form-group.form-md-line-input .bs-select button.dropdown-toggle:active,
.form-group.form-md-line-input .bs-select button.dropdown-toggle:hover{
  background-color: transparent;
}

/*Profile Sidebar*/
.profile-sidebar{
  margin: 20px 0 24px 0;
  width: 100%;
}
.profile-sidebar-title, .profile-sidebar-position{
  text-align: center;

}
.profile-sidebar .profile-userpic{
  margin-bottom: 6px;
}
.profile-sidebar-title{
  line-height: 24px;
  font-size: 14px;
  color: #ccc;
}
.profile-sidebar-position{
  line-height: 18px;
  font-size: 12px;
  color: #ababab;
}
.page-sidebar-closed .page-sidebar .profile-sidebar{
  margin: 14px 0 14px 0;
}
.page-sidebar-closed .page-sidebar .profile-sidebar-title,
.page-sidebar-closed .page-sidebar .profile-sidebar-position{
  display: none;
}
.page-sidebar-closed .page-sidebar .profile-sidebar .profile-userpic{
  margin-bottom: 0;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li:hover>.sub-menu{
  background: #242730;
}

/*ERROR*/
.page-404 .number,.page-500 .number{letter-spacing:-10px;line-height:128px;font-size:128px;font-weight:300}.page-404 .details,.page-500 .details{margin-left:40px;display:inline-block}.page-404{text-align:center}.page-404 .number{position:relative;top:10px;display:inline-block;margin-top:0;margin-bottom:10px;color:#7bbbd6;text-align:right}.page-404-full-page .page-404,.page-500-full-page .page-500{margin-top:100px}.page-404 .details{padding-top:0;text-align:left}.page-500{text-align:center}.page-500 .number{display:inline-block;color:#ec8c8c;text-align:right}.page-500 .details{text-align:left}.page-404-full-page{overflow-x:hidden;padding:20px;margin-bottom:20px;background-color:#fafafa!important}.page-404-full-page .details input{background-color:#fff}.page-500-full-page{overflow-x:hidden;padding:20px;background-color:#fafafa!important}.page-500-full-page .details input{background-color:#fff}.page-404-3{background:#000!important}.page-404-3 .page-inner img{right:0;bottom:0;z-index:-1;position:absolute}.page-404-3 .error-404{color:#fff;text-align:left;padding:70px 20px 0}.page-404-3 h1{color:#fff;font-size:130px;line-height:160px}.page-404-3 h2{color:#fff;font-size:30px;margin-bottom:30px}.page-404-3 p{color:#fff;font-size:16px}@media (max-width:480px){.page-404 .details,.page-404 .number,.page-500 .details,.page-500 .number{text-align:center;margin-left:0}.page-404-full-page .page-404{margin-top:30px}.page-404-3 .error-404{text-align:left;padding-top:10px}.page-404-3 .page-inner img{right:0;bottom:0;z-index:-1;position:fixed}}
.page-404 ,.page-500{margin-top: 40px;}

/*Table Responsive*/
.table-responsive {
    overflow-x: inherit;
    min-height: .01%;
}
@media (max-width:480px){
  overflow-x: auto;
}

/*Editable*/
.editable-input{
  padding: 0 4px !important;
  height: 26px;
}
.editable-click.view, a.editable-click.view {
    color: #555;
    border: none;
}

/*Button Status*/
.btn-status{
  border: none;
  box-shadow: none !important;
  font-size: 11px;
  border-radius: 2px;
  padding: 1px 7px;
  color: #fff;
}
.btn-status:hover, .btn-status:focus, .btn-status:active{
  color: #fff !important;
  border: none;
  outline: none;
  box-shadow: none !important;
}
button.btn-search{
  border: 0 !important;
  box-shadow: none !important;
  line-height: 11px !important;
  margin: 0 !important;
  height: 30px;
}
.dropdown-status .dropdown-menu li a{
  font-size: 11px;
  padding: 5px 8px;
}

/*.btn-status:hover, .btn-status:focus, .btn-status:active,
.btn-group.open .btn-status:hover, .btn-group.open .btn-status:focus, .btn-group.open .btn-status:active{
  background-color: inherit !important;
  background: inherit !important;
}*/
/*
 * Table Fixed
 */

.table-fixed-left table,
.table-fixed-right table {
  border-collapse: collapse;
}
.table-fixed-right td,
.table-fixed-right th,
.table-fixed-left td,
.table-fixed-left th {
  padding: 5px 5px;
}
.table-fixed-left {
  width: 120px;
  float: left;
  overflow-x: scroll;
  white-space: nowrap;
  z-index: 2;
}
.table-fixed-right {
  width: calc(100% - 145px);
  overflow-x: scroll;
  white-space: nowrap;
}
.table-fixed-right td,
.table-fixed-right th {
  padding: 5px 10px;
}

/*BS Select*/
.bootstrap-select .status {
  background: #f0f0f0;
  clear: both;
  color: #999;
  font-size: 11px;
  font-style: italic;
  font-weight: 500;
  line-height: 1;
  margin-bottom: -5px;
  padding: 10px 20px;
}
input.number{
  text-align: right;
}
input:focus{
  outline: none;
}
.text-success {
    color: #34c369;
}
tr.row-rejected td, tr.row-rejected td a{
  color: #ed6b75 !important;
}
.modal-title{
  font-size: 18px;
  color: #408da7;
}

/*Sweet Alert*/
.sweet-alert:focus{
  outline: none;
}

/*Lock Screen*/
.image-circle-wrapper{
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 110px;
  background-color: #333;
  display: inline-block;
}
.image-circle-wrapper img{
  width: 140%;
}


/*Timeline Log*/

.timeline-log .timeline-body{
  background-color: #fff;
  font-size: 12px;
}
.timeline-log a.timeline-body-title{
  font-weight: 500;
  font-size: 14px;
}
.timeline-log .timeline-body-head-caption, .timline-log .timeline-body-head{
  width: 100%;
  float: none !important;
  display: table;

}
.timeline-log .timeline-body-time{
  text-align: right;
  font-size: 10px;
}
.timeline-log .timeline-body-content{
  margin-top: 5px;
  font-size: 12px;
}
.timeline .timeline-badge-userpic > img{
  border-radius: 0 !important;
  width: 120%;
  position: relative;
  left: -6px
}
.timeline:before {
    background: #eee;
    margin-left: 27px;
}
.timeline .timeline-badge-userpic {
    width: 60px;
    height: 60px;
    border: 2px solid #f5f6fa;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important;
    overflow: hidden;
    background: #333;
}
.timeline .timeline-body-arrow{
  top: 12px;
}
.timeline .timeline-body{
  padding: 12px 16px;
  margin-left: 100px;
  margin-top: 12px;
}
.timeline .timeline-badge {
    padding-right: 0px;
    height: 60px;
    width: 60px;
}
.avatar-circle{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  background: #333;
}
.avatar-circle img{
  width: 120%;
  position:relative;
  left: -5px;
}
.chats li .datetime {
    color: #888;
    font-size: 11px;
    font-weight: 400;
}
.chats li .body {
    display: block;
    margin: 4px 0;
}
.chat-form .input-cont {
    margin-right: 0;
}
.chat-form .btn-cont {
    margin-top: 0;
    float: right;
    width: 44px;
    margin-right: 5px;
}
/*End Timeline Log*/

textarea.editable-input, textarea.editable-input:focus{
  outline: none;
}

.img-wrapper{
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.img-wrapper img{
  width: 100%;
}
