@media print {
  body {
  color: #000;
  background: #fff;
  }
}
body {
  font: 10px Tahoma, Geneva, sans-serif;
  line-height: 1.5;
}
@media print {
  nav, aside, footer {
  display: none;
  }

  section {
    background: none
  }

}

body, article {
  width: 100%;
  margin: 0;
  padding: 0;
}

@page {
  margin: 2cm;
}

@page :left {
  margin: 1cm 3cm 1cm 2cm;
}

@page :right {
  margin: 1cm 2cm 2cm 3cm;
}

@page :first {
  margin: 1cm 2cm;
}

img {
   max-width: 100% !important;
}

.content{
    /*max-width: 800px;*/
    margin-top: 20px;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.table-detail > tbody > tr > td, .table-detail > thead > tr > td{
    padding: 10px;
}
.table-bordered {

}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom: 1px solid #333;
}
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 2px;
}
.table.table-bordered thead > tr > th {

}
.table tr.heading > th {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 0;
  border-right: 0;
}
.table td .img-responsive {
    width: 100%;
}
.table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.table td, .table th{
    padding: 6px 6px;
}
.table-row{
    width: 100%;
}
.table-row td{
    padding: 0 !important;
    margin: 0 !important;
}

table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }
